/***
  * global mixins
  *
  * 1. upto breakpoint
  * 2. from breakpoint
  * 3. between breakpoint
  * 4. gradient
***/


// 1. upto breakpoint
@mixin upto($media) {
  $max-width-bp: (map-get($bps, $media) or $media) - 1;

  @media only screen and (max-width: $max-width-bp) {
    @content;
  }
}

// 2. from breakpoint
@mixin from($media) {
  $min-width-bp: (map-get($bps, $media) or $media);

  @media only screen and (min-width: $min-width-bp) {
    @content;
  }
}

// 3. between breakpoint
@mixin between($media1, $media2) {
  $min-width-bp: (map-get($bps, $media1) or $media1);
  $max-width-bp: (map-get($bps, $media2) or $media2) - 1;

  @media only screen and (min-width: $min-width-bp) and (max-width: $max-width-bp) {
    @content;
  }
}

//4. gradient
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
